

<br><br>

<div class="container" style="margin: 20px 50px 50px 50px; padding: 30px 30px 30px 30px; width: 92%;">

<br> 

<h3><b>문의하기</b></h3>

<hr style="background-color: pink; height: 0.5px;">

<div class="container" style="margin: 30px 30px 30px 30x;">
    
   <form action="/email" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <type="text" class="form-control" id="exampleInputEmail1" name="email">yurimzzang51@gmail.com</type>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Title</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="title" placeholder="Title">
      </div>
      <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" name="content" rows="3" placeholder="Content"></textarea>
      </div>
    
    </div>
    
      <hr style="background-color: pink; height: 0.5px;">
        <button class="btn btn-sm" style="float: right;" type="submit">
        <i class="glyphicon glyphicon-ok"></i>
        <b style="color: black;">Send</b></a>
        </button>
</div>